$re:random(256)-1;
$gr:random(256)-1;
$bl:random(256)-1;

$blue:#1163e9;

$basic-blue:#1163e9;

$segoe-ui:'SelawikRegular','Helvetica';
html{
  body{
    overflow: hidden !important;
    font-family: $segoe-ui;
    .firstPage{
      .fp-tableCell{
        vertical-align: inherit !important;
      }
      .content{
        background:$blue !important;
        width: 100%;
        height: 100%;
        position: fixed;
        top:0px
      }
      .meet-kai{
          width: auto;
          height: 123px;
          font-family: $segoe-ui;
          font-size: 174.5px;
          font-weight: 700;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          padding-top: 120px;
          margin: auto;
          text-align: center;
          .kai{
            position: fixed;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            margin: auto;
            top:40%;
          }
      }
      .down-arrow{
        position: absolute;
        left: 50%;
        -webkit-transform:translateX(-50%);
        transform: translateX(-50%);
        margin: auto;
        bottom: 5%;
      }
    }
    .secondPage{
      .content{
        .text{
          font-size: 18px;
          vertical-align: middle;
          width:320px;
          margin-left: -500px;
          transition: all 0.5s;
          height: 200px;
        }
        .kai{
          position: fixed;
          opacity: 0;
          transition: all 1s;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          margin: auto;
          top:40%;
          img{
            margin-left: 100px;
          }
        }
        .meet-kai{
          height: 200px;
          vertical-align: middle;
          font-size: 84px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: right;
          color: #000000;
          .kai-text{
            color:$blue;
          }
          position: absolute;
          right:-500px;
        }
    }
  }
  .thirdPage{
    overflow: hidden;
    .content{
      background-color: #ffffff;
      .text{
        height: 200px;
        font-size: 18px;
        vertical-align: middle;
        margin-left: -500px;
        width:320px;
        transition: all 1s;
      }
      .hand{
        position: fixed;
        opacity: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin: auto;
        top:-50px;
        img{
          width: 90%;
          height: 100%;
        }
      }
      .smart-connect{
        height: 200px;
        position: absolute;
        vertical-align: middle;
        right:-100%;
        font-size: 84px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
        .connect-text{
          color:$blue;
        }
      }
    }
  }
  .fourthPage{
    overflow: hidden;
    .content{
      background-color: #ffffff;
      .text{
        font-size: 18px;
        vertical-align: middle;
        width:322px;
        margin-left: -500px;
      }
      .hand{
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin: auto;
        top:-25px;
        img{
          width: 90%;
        }
      }
      .smart-connect{
        position: absolute;
        vertical-align: middle;
        height: 200px;
        right:-100%;
        font-size: 84px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
        .connect-text{
          color:$blue;
        }
      }
    }
  }
  .media{
    .title{
      .vertical-bar{
        color: $blue;
      }
      font-size: 60px;
      font-weight: 700;
      padding-left: 100px;
    }
    .fp-tableCell{
      vertical-align: inherit !important;
    }
    .slick-prev:before, .slick-next:before {
      color:$blue !important;
    }
    .news-paper-article{
      text-align:center;
      margin-top: 200px;
    }
    .news-paper-name{
      img{
        width: 200px;
        margin: auto;
        transition: all 0.5s;
      }
    }
    .news-papers-nav{
      .slick-slide{
        img{
          opacity: 0.5;
        }
      }
      .slick-current{
        img{
          width: 250px;
          transition: all 0.5s;
          opacity: 1;

        }
      }
    }
  }
  .people{
      position: relative;
      .fp-tableCell{
        vertical-align: inherit !important;
      }
      .title{
        .vertical-bar{
          color: $blue;
        }
        font-size: 60px;
        font-weight: 700;
        padding-left: 100px;
      }
      .person{
        .member-name{
          font-size: 30px;
          font-weight: 700;
        }
        .member-desc{
          font-size: 24px;
          color: #757575;
          font-weight: 500;
        }
        .member-extended-desc{
          padding-left: 200px;
          padding-right: 200px;
        }
        i{
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      .person-pic{
        height: 250px;
        img{
          height: 300px;
          position: absolute;
        }
      }
      .slick-current{
        .overlay{
          position: relative;;
          top:0px;
          left: 0px;
          width: 100%;
          height: 300px;
          opacity: 0.5;
          background-color: $blue;
        }
        img{
          opacity: 0.5;
        }

      }
  }
  .contact{
    background-color: $blue;
    .fp-tableCell{
      vertical-align: inherit !important;
    }
    .contact-container{
      height: 100%;
      padding-top:100px;
      padding-bottom: 0px;
      margin: 0;
    }
    .e-mail-container{
      padding: 0px;
      .e-mail{
        border:1px solid white;
        margin: 0 !important;
        left: 0px;
        right: 0px;
        padding: 0.25rem;
        height: 3rem;
      }
    }
    .subscribe-container{
      padding-top: 0px;
      .subscribe{
        padding-top:100px;
        width: 100%;
        margin: 0px;
        padding: 0.25rem;
        height: 3rem;
        margin-left: -22px;
        color: $blue;
      }
    }
    .custom-footer{
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      text-align: center;
      background-color: rgba(0,0,0,0.2);
      margin: 0;
      padding: 50px;
      color: #fff;
      .social-icons{
        float: right;
        i{
          padding-right: 10px;
        }
      }
    }
  }
}
}
