html body {
  overflow: hidden !important;
  font-family: "SelawikRegular", "Helvetica"; }
  html body .firstPage .fp-tableCell {
    vertical-align: inherit !important; }
  html body .firstPage .content {
    background: #1163e9 !important;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px; }
  html body .firstPage .meet-kai {
    width: auto;
    height: 123px;
    font-family: "SelawikRegular", "Helvetica";
    font-size: 174.5px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 120px;
    margin: auto;
    text-align: center; }
    html body .firstPage .meet-kai .kai {
      position: fixed;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      margin: auto;
      top: 40%; }
  html body .firstPage .down-arrow {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: auto;
    bottom: 5%; }
  html body .secondPage .content .text {
    font-size: 18px;
    vertical-align: middle;
    width: 320px;
    margin-left: -500px;
    transition: all 0.5s;
    height: 200px;
    padding-top: 30px; }
  html body .secondPage .content .kai {
    position: fixed;
    opacity: 0;
    transition: all 1s;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: auto;
    top: 40%; }
    html body .secondPage .content .kai img {
      margin-left: 100px; }
  html body .secondPage .content .meet-kai {
    height: 200px;
    vertical-align: middle;
    font-size: 84px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    position: absolute;
    right: -500px; }
    html body .secondPage .content .meet-kai .kai-text {
      color: #1163e9; }
  html body .thirdPage {
    overflow: hidden; }
    html body .thirdPage .content {
      background-color: #ffffff; }
      html body .thirdPage .content .text {
        height: 200px;
        font-size: 18px;
        vertical-align: middle;
        margin-left: -500px;
        width: 320px;
        transition: all 1s;
        padding-top: 30px; }
      html body .thirdPage .content .hand {
        position: fixed;
        opacity: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin: auto;
        top: -50px;
        z-index: 2; }
        html body .thirdPage .content .hand img {
          width: 90%;
          height: 100%; }
      html body .thirdPage .content .smart-connect {
        z-index: 1;
        height: 200px;
        position: absolute;
        vertical-align: middle;
        right: -100%;
        font-size: 84px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: right;
        color: #000000; }
        html body .thirdPage .content .smart-connect .connect-text {
          color: #1163e9; }
  html body .fourthPage {
    overflow: hidden; }
    html body .fourthPage .content {
      background-color: #ffffff; }
      html body .fourthPage .content .text {
        height: 200px;
        font-size: 18px;
        vertical-align: middle;
        width: 322px;
        margin-left: -500px;
        padding-top: 30px; }
      html body .fourthPage .content .hand {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin: auto;
        top: -25px; }
        html body .fourthPage .content .hand img {
          width: 90%; }
      html body .fourthPage .content .smart-connect {
        z-index: 1;
        position: absolute;
        vertical-align: middle;
        height: 200px;
        right: -100%;
        font-size: 84px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: right;
        color: #000000; }
        html body .fourthPage .content .smart-connect .connect-text {
          color: #1163e9; }
  html body .media {
    z-index: 4; }
    html body .media .title {
      font-size: 60px;
      font-weight: 700;
      margin-left: 100px;
      border-left: 10px #1163e9 solid; }
      html body .media .title .vertical-bar {
        color: #fff; }
    html body .media .fp-tableCell {
      vertical-align: inherit !important; }
    html body .media .slick-prev:before, html body .media .slick-next:before {
      color: #1163e9 !important; }
    html body .media .news-paper-article {
      text-align: center;
      margin-top: 200px; }
    html body .media .news-paper-name {
      outline: none; }
      html body .media .news-paper-name img {
        width: 200px;
        margin: auto;
        transition: all 0.5s; }
    html body .media .news-papers-nav .slick-slide img {
      opacity: 0.5; }
    html body .media .news-papers-nav .slick-current img {
      opacity: 1; }
  html body .people {
    z-index: 4;
    position: relative; }
    html body .people .fp-tableCell {
      vertical-align: inherit !important; }
    html body .people .title {
      font-size: 60px;
      font-weight: 700;
      margin-left: 100px;
      border-left: 10px #1163e9 solid; }
      html body .people .title .vertical-bar {
        color: #fff; }
    html body .people .person .member-name {
      font-size: 30px;
      font-weight: 700; }
    html body .people .person .member-desc {
      font-size: 24px;
      color: #757575;
      font-weight: 500; }
    html body .people .person .member-extended-desc {
      padding-left: 200px;
      padding-right: 200px; }
    html body .people .person i {
      padding-left: 5px;
      padding-right: 5px; }
    html body .people .person-pic {
      height: 250px; }
      html body .people .person-pic img {
        height: 300px;
        position: absolute;
        overflow: hidden; }
    html body .people .slick-current .overlay {
      position: relative;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 250px;
      opacity: 0.5;
      background-color: #1163e9; }
    html body .people .slick-current img {
      opacity: 1; }
  html body .contact {
    z-index: 4;
    background-color: #1163e9; }
    html body .contact .fp-tableCell {
      vertical-align: inherit !important; }
    html body .contact .contact-container {
      height: 100%;
      padding-top: 100px;
      padding-bottom: 0px;
      margin: 0; }
    html body .contact .e-mail-container {
      padding: 0px; }
      html body .contact .e-mail-container .e-mail {
        border: 1px solid white;
        margin: 0 !important;
        left: 0px;
        right: 0px;
        padding: 0.25rem;
        height: 3rem; }
    html body .contact .subscribe-container {
      padding-top: 0px; }
      html body .contact .subscribe-container .subscribe {
        padding-top: 100px;
        width: 100%;
        margin: 0px;
        padding: 0.25rem;
        height: 3rem;
        margin-left: -22px;
        color: #1163e9; }
    html body .contact .custom-footer {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.2);
      margin: 0;
      padding: 50px;
      color: #fff; }
      html body .contact .custom-footer .social-icons {
        float: right; }
        html body .contact .custom-footer .social-icons i {
          padding-right: 10px; }

/*# sourceMappingURL=main.css.map */
