html body {
  overflow: hidden !important;
  font-family: "SelawikRegular", "Helvetica"; }
  html body .firstPage .fp-tableCell {
    vertical-align: inherit !important; }
  html body .firstPage .content {
    background: #553e4e !important;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px; }
  html body .firstPage .meet-kai {
    width: auto;
    height: 123px;
    font-family: "SelawikRegular", "Helvetica";
    font-size: 174.5px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 150px;
    margin: auto;
    text-align: center; }
    html body .firstPage .meet-kai .kai {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      margin: auto;
      top: 50%; }
  html body .firstPage .down-arrow {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: auto;
    bottom: 5%; }
  html body .secondPage .fp-tableCell {
    vertical-align: inherit !important; }
  html body .secondPage .content .text {
    font-size: 18px;
    position: absolute;
    top: 43%;
    left: -50%;
    width: 320px;
    margin-left: 100px; }
  html body .secondPage .content .kai {
    position: fixed;
    opacity: 0;
    transition: all 1s;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: auto;
    top: 40%; }
  html body .secondPage .content .meet-kai {
    position: fixed;
    top: 40%;
    right: -100%;
    font-size: 84px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: #000000; }
    html body .secondPage .content .meet-kai .kai-text {
      color: #553e4e; }
  html body .thirdPage {
    overflow: hidden; }
    html body .thirdPage .content {
      background-color: #ffffff; }
      html body .thirdPage .content .text {
        font-size: 18px;
        position: absolute;
        left: -50%;
        top: 45%;
        width: 322px;
        margin-left: 100px; }
      html body .thirdPage .content .hand {
        position: fixed;
        opacity: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin: auto;
        top: -50px; }
        html body .thirdPage .content .hand img {
          width: 90%;
          height: 100%; }
      html body .thirdPage .content .smart-connect {
        position: absolute;
        top: 40%;
        right: -100%;
        font-size: 84px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: right;
        color: #000000; }
        html body .thirdPage .content .smart-connect .connect-text {
          color: #553e4e; }
  html body .fourthPage {
    overflow: hidden; }
    html body .fourthPage .content {
      background-color: #ffffff; }
      html body .fourthPage .content .text {
        font-size: 18px;
        position: absolute;
        top: 45%;
        left: -50%;
        width: 322px;
        margin-left: 100px; }
      html body .fourthPage .content .hand {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin: auto;
        top: -25px; }
        html body .fourthPage .content .hand img {
          width: 90%; }
      html body .fourthPage .content .smart-connect {
        position: absolute;
        top: 40%;
        right: -100%;
        font-size: 84px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: right;
        color: #000000; }
        html body .fourthPage .content .smart-connect .connect-text {
          color: #553e4e; }
  html body .media .fp-tableCell {
    vertical-align: inherit !important; }
  html body .media .slick-prev:before, html body .media .slick-next:before {
    color: #553e4e !important; }
  html body .media .news-paper-article {
    text-align: center;
    margin-top: 200px; }
  html body .media .news-paper-name img {
    width: 200px;
    margin: auto;
    transition: all 0.5s; }
  html body .media .news-papers-nav .slick-slide img {
    opacity: 0.5; }
  html body .media .news-papers-nav .slick-current img {
    width: 250px;
    transition: all 0.5s;
    opacity: 1; }
  html body .contact {
    background-color: #553e4e; }
    html body .contact .e-mail-container {
      padding: 0px; }
      html body .contact .e-mail-container .e-mail {
        border: 1px solid white;
        margin: 0 !important;
        left: 0px;
        right: 0px;
        padding: 0.25rem;
        height: 3rem; }
    html body .contact .subscribe-container {
      padding: 0px; }
      html body .contact .subscribe-container .subscribe {
        width: 100%;
        margin: 0px;
        padding: 0.25rem;
        height: 3rem; }

/*# sourceMappingURL=main.css.map */
